
#Ignore all files and folders by default
*



# Do not ignore
!.gitignore

!Makefile

!**/

!*.cu
!*.cuh
!*.c
!*.h
!*.cpp
!*.hpp
!**/*.cu
!**/*.cuh
!**/*.c
!**/*.h
!**/*.cpp
!**/*.hpp

!*.pdf
!**/*.pdf
!**/*.drawio

!.github/


